body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    transition: background-color 0.5s ease; /* Added transition for background color change */
}

header {
    background-color: #1E1E1E;
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content:flex-start;
    gap:30px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

main {
    max-width: 1200px;
    margin: 20px auto;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.heading {
    color: #fff;
}

.car-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.cta {
    text-align: center;
    margin: 30px 0;
}

.try-now-button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #8F820B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Added transition for button color change */
}

.try-now-button:hover {
    background-color: #736907;
}

.customer-feedback {
    text-align: center;
    margin: 30px 0;
}

.customer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #1E1E1E;
    padding: 15px 0;
    text-align: center;
}

footer p {
    margin: 0;
    color: #fff;
}
.secondpage{
    display: grid;
    padding:50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 300px;
    background-color:rgb(70, 68, 68);
    border-radius:10px;
}
.items2{
    text-align: center;
    margin: 30px 0;
}
.rentcarbutton{
    text-align: center;
    margin: 30px 0;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #8F820B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.awards{
 padding:50px;  
 display:grid;
 grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
 gap:100px;
}
.items3{
    text-align: center;
    background-color:#555;
    padding:20px;
    border-radius: 20px;
}
span{
    color:#736907;
    padding:5px;
    border:3px;
}
.containers2{
    display: flex;
    padding:50px;
    justify-content:flex-start;
    gap:25px;
    align-items: center;
    margin: 0 auto;
}
.container3{
    display: flex;
    justify-content:space-between;
    gap:30px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #1E1E1E;
    padding:10px;
    border-radius:5px;
}
.icons{
    background-color: #555;
    padding:10px;
    border-radius:5px;

}